<div id="marco" class="center">
    <h1>{{mensaje}}</h1>
    <div>
        <div class="infoPr"><p>Argumentos de entrada: </p><a>{{arg}}</a></div>
        <div class="infoPr"><p>Sistema operativo: </p><a>{{platform}}</a></div>
        <div class="infoPr"><p>Versión de node.js: </p><a>{{version}}</a></div>
        <div class="infoPr"><p>Memoria total reservada (rss): </p><a>{{memoria}}</a></div>
        <div class="infoPr"><p>Path de ejecución: </p><a>{{path}}</a></div>
        <div class="infoPr"><p>Id de proceso: </p><a>{{pid}}</a></div>
        <div class="infoPr"><p>Carpeta del proyecto: </p><a>{{cwd}}</a></div>
        
    </div>
</div>
<script src="/js/index.js"></script>
