html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        style
            include style.css
        title='Mis Productos'
    body
        div(class="center")
            h1=mensaje
            form(action="http://localhost:8080/productos" method ="post")
                div(class="form-group")
                    input(type="text" class="form-control" name="title" required="required")
                    span='producto'
                div(class="form-group")
                    input(type="text" class="form-control" name="price" required="required")
                    span='precio'
                div(class="form-group")
                    input(type="text" class="form-control" name="thumbnail" required="required")
                    span='url imagen'
                div(class="form-group buttons")
                    button(type="submit" class="btn btn-primary")='Agregar'
                    a(href="/productos" class="btn btn-primary")='Ver Productos'